* {
  text-align: center;

}

body {

  font-family: -apple-system,
    BlinkMacSystemFont,
    'Times New Roman',
    'Roboto',
    'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(68, 82, 212);

  text-align: center;
}

h1 {
  display: inline-block;
  width: 280px;
  background-color: rgb(188, 202, 60);
  color: rgb(5, 5, 75);
}

.container {
  width: 98%;
  background-color: blanchedalmond;
  text-align: center;
  min-height: 82vh;
  margin: auto;
  border-radius: 1%;
}

input {
  margin: 1%;
  height: 30px;
  font-size: 19px;
  width: 270px;
  background-color: rgb(91, 52, 129);
  color: white;
  border-radius: 10%;
}

/* .token {
  font-size: 15px;
  height: 20px;
} */

.suggestions {
  font-size: 20px;
  width: 280px;
  display: block;
  margin: auto;
  font-weight: 800;
  color: rgb(2, 2, 37);

}


.suggestionactive {
  height: 8vh;
  position: relative;
  margin-top: 2%;
  border-radius: 5%;
  background-color: rgb(81, 142, 233);
  box-shadow: 2px 2px rgb(6, 34, 77);
  text-shadow: 0.5px 0.5px rgb(2, 16, 37);
}

.nameContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  left: 25%;
}

.avatarContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  right: 80%;
}

.avatarImg {
  width: 6vh;
  height: 6vh;
}

.noSuggestions {
  font-size: 40px;
  width: 280px;
  display: block;
  margin: auto;
  margin-top: 5%;
  font-weight: 800;
  color: rgb(2, 2, 37);
  background-color: rgb(138, 236, 73);
  border-radius: 10%;
}